.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form > div {
    display: flex;
}

.startGame {
    text-decoration: none;
    color: whitesmoke;
    flex: 1;
}